<footer class="site-footer">

  <div class="footer-col footer-col-text">
    <p>{{ site.data.translations[page.lang].footer_text }}</p>
  </div>

  <div class="footer-col footer-col-links">
    <a href="/{{ page.lang }}/support">{{ site.data.translations[page.lang].nav_support }}</a>
    <a href="/{{ page.lang }}/colophon">{{ site.data.translations[page.lang].nav_colophon }}</a>
  </div>

  <div class="footer-col footer-col-links">
    <a href="mailto:info@babalarpress.com">{{ site.data.translations[page.lang].contact }}</a>
    <a href="https://www.instagram.com/babalarpress/">Instagram</a>
  </div>

  <div class="footer-col footer-col-newsletter">
    <section class="newsletter">
      <p>{{ site.data.translations[page.lang].newsletter_title }}</p>
      <form
        action="https://docs.google.com/forms/d/e/1FAIpQLSd_oyhfaslq3moYRNjiBaCFAM_gooCs1Lk7x0zr5ABOZQq-wA/formResponse"
        method="POST"
        target="_blank"
        class="newsletter-form"
      >
        <input
          type="email"
          name="entry.123456789"
          placeholder="{{ site.data.translations[page.lang].newsletter_placeholder }}"
          required
        >
        <button type="submit"><p>{{ site.data.translations[page.lang].newsletter_button }}</p></button>
      </form>
    </section>
  </div>

</footer>